.navbar-custom {
  background-color: #5a2d2f; /* Cor semelhante à do site */
}
.navbar-brand {
  font-family: 'Cursive', sans-serif;
  color: white;
  font-size: 24px;
}
.nav-link {
  color: white !important;
}
.search-bar {
  border-radius: 20px;
  padding: 5px 10px;
}
.btn-custom {
  background-color: #ffb347; /* Cor dos botões de login/carrinho */
  color: black;
  border-radius: 20px;
  padding: 5px 15px;
  font-weight: bold;
}

main {
  margin-top: 20px; /* Ajuste o valor conforme necessário */
}

.titulo-cat {
  font-size: 25px; /* Ajuste o valor conforme necessário */
}


footer {
text-align: center;
color: white;
background-color: #5a2d2f;
}

.card-img-top {
  transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}

